<footer>
			<div id="footer-all" class="footer-top">
				<div class="container">
					<div class="foo-grids text-center">
						<div class="col-md-6 footer-grid">
							<a href="/"><img style="max-width: 79%;" src="../images/chotot.png" alt="Logo"></a>
						</div>
						<div class="col-md-6 footer-grid">
							<a href="/lien-he"><img style="max-width: 100%;" src="../images/main.png" alt="Logo"></a>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
			<div class="footer-bottom text-center">
			<div class="container">
				<div class="footer-logo">
					<a href="index.html"><span>Chợ Tốt</span>&nbsp;Văn Lang</a>
				</div>
				<div class="footer-social-icons">
					<ul>
						<li><a class="facebook" href="#"><span>Facebook</span></a></li>
						<li><a class="twitter" href="#"><span>Twitter</span></a></li>
						<li><a class="flickr" href="#"><span>Flickr</span></a></li>
						<li><a class="googleplus" href="#"><span>Google+</span></a></li>
						<li><a class="dribbble" href="#"><span>Dribbble</span></a></li>
					</ul>
				</div>
				<div class="copyrights">
					<p> © 2018 Chợ tốt Văn Lang. All Rights Reserved | Design by  <a href="mailto:w.a.f-group@gmail.com"> W.A.F Group</a></p>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
</footer>
